<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
	
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 class="text-grey">Login</h1>
            </div>  
            <form method="POST" action="/login">
                <div class="row">
                    <input type="email" name="eMail" required placeholder="E-mail">  
                    <span></span>
                </div>
                <div class="row">
                    <input type="password" name="password" required placeholder="Password"> 
                    <span></span>
                </div>
                <div class="row">
                    <button type="submit">Sign In</button>
                </div>
            </form>
            <div class="row text-grey">
                <a href="#">Lost your password?</a>
            </div>
        </div>
        <div class="row">
            <p>Don't have an account? <a href="#">Sign up here!</a></p>
        </div>
    </div>

    <div class=container>
            <p th:text="${error}"></p>
    </div>

</body>
</html>